@import '../main.scss';

.listContainer {
	@extend .flexDisplay;
	row-gap: 1.5rem;
	width : 400px;
	:global {
		.MuiPaper-root {
			border-radius: 10px;
			min-width: 100%;
		}
		.MuiFormControl-root{
			margin :auto;
		} 
	}
}

@media screen and (max-width : 500px) {
	.listContainer{
		:global {
		.MuiFormControl-root{
			margin :0 20px;
		} 
	}
	}
}

.reposGridContainer{
  @extend .flexDisplay;
	width : 70%;
  row-gap:10px;
  margin-bottom: 10px;
}