@import '../main.scss';

.listContainer {
	@extend .flexDisplay;
	row-gap: 1.5rem;
	width : 400px;
	:global {
		.MuiPaper-root {
			border-radius: 10px;
			min-width: 100%;
		}
		.MuiFormControl-root{
			margin :auto;
		} 
	}
}

.loaderClass {
	position: absolute;
	top : 50%;
	left: 50%;
}